@using TicketWave.Utitlies
@model IEnumerable< TicketWave.Models.Category>

<div class="container mt-4">
    <h2 class="text-center mb-4">All Categories</h2>

    <table class="table table-bordered table-striped table-hover text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        @if (item.status)
                        {
                            <span class="badge bg-success">Active</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Inactive</span>
                        }
                    </td>
                    @if (User.IsInRole(SD.SUPER_ADMIN_ROLE) || User.IsInRole(SD.ADMIN_ROLE))
                    {
                        <td>
                            <a href="/Admin/Brand/Edit/@item.Id" type="button" class="btn btn-warning">Edit</a>
                            <a href="/Admin/Brand/Delete/@item.Id" class="btn btn-danger btn-delete">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td>No Actions!</td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Create" class="btn btn-success mt-3">Add New Category</a>
</div>


